.AcquaPage {
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
.Presentation {
  margin-bottom: 0;
}

.Presentation h1,
h2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
.Presentation p {
  max-width: 68%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: justify;
  hyphens: auto;
  margin: 20px auto;
  font-family: "Montserrat-medium", Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
}

.Links span {
  font-size: 20px;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.iconImage {
  width: 35px;
  height: 35px;
}

@media (max-width: 1224px) {
}
.Presentation p {
  min-width: 95%;
  text-align: justify;
  hyphens: auto;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  width: 30px;
  height: 30px;
}

.Links span {
  font-size: 20px;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .Presentation {
    margin-bottom: 0;
  }
  .Presentation h1,
  h2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  .Presentation p {
    min-width: 67%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: justify;
    hyphens: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  .logo {
    width: 30px;
    height: 30px;
  }

  .Links span {
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }
}

@media (max-width: 509px) {
  .Presentation {
    margin-bottom: 0;
  }
  .Presentation h1,
  h2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  .Presentation p {
    min-width: 66%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: justify;
    hyphens: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  .logo {
    width: 30px;
    height: 30px;
  }

  .Links span {
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }
}
