.AcquaPage {
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
.Presentation {
  margin-bottom: 0;
}

.Presentation h1,
h2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
}
.Presentation p {
  max-width: 68%;
  margin: 20px auto;
  text-align: left;
  word-spacing: 0.05em;
  overflow-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word;
  hyphens: none;
  font-family: "Montserrat-medium", Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
}

.Links span {
  font-size: 20px;
  font-family: "font-montserrat-medium", Arial, sans-serif;
  color: rgb(73, 81, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.Links img {
  border-radius: 5px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.iconImage {
  border-radius: 8px;
  width: 35px;
  height: 35px;
}

@media (max-width: 1224px) {
  .Presentation p {
    min-width: 95%;
    text-align: justify;
    word-break: keep-all;
    overflow-wrap: break-word;
    hyphens: none;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }

  .Links span {
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }
  .Links img {
    border-radius: 5cqmin;
  }
}

@media (max-width: 768px) {
  .Presentation {
    margin-bottom: 0;
  }
  .Presentation h1,
  h2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  @media (max-width: 768px) {
    .Presentation p {
      max-width: 90%;
      font-size: 1rem;
      word-spacing: normal;
    }
  }

  .logo {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }

  .Links span {
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }
  .Links img {
    border-radius: 5svh;
  }
}

@media (max-width: 509px) {
  .Presentation {
    margin-bottom: 0;
  }
  .Presentation h1,
  h2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
  }
  @media (max-width: 768px) {
    .Presentation p {
      max-width: 90%;
      font-size: 1rem;
      word-spacing: normal;
    }
  }

  .logo {
    width: 30px;
    height: 30px;
  }
  .Links span {
    font-size: 20px;
    font-family: "font-montserrat-medium", Arial, sans-serif;
    color: rgb(73, 81, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
  }
  .Links img {
    border-radius: 5px;
  }
}
