.CuricIrma {
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Montserrat-ultra-light", Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 70%; /* Largeur de chaque image */
  /* height: 80vw; */
}
.CuricFred {
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Montserrat-ultra-light", Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 70%; /* Largeur de chaque image */
  /* height: 80vw; */
}
.CuricVanessa {
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: "Montserrat-ultra-light", Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 70%; /* Largeur de chaque image */
  /* height: 80vw; */
}
